body {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Nav Bar */

nav {
    height: 80px;
    background:#0c726d;
}

nav img {
    width: 200px;
    position: absolute;
    top: 17px;
    left: 2%;

}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0;

}

nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;

}

@media (max-width: 1118px) {
    nav img {
        left: 8%;
    }
}

@media (max-width: 944px) {
    nav img {
        left: 6%;
        top: 20px;
        width: 200px;
    }
    nav ul li a {
        font-size: 17px;

    }
}

@media (max-width: 860px) {
    label #btn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #15a39c;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    
    nav ul li a {
        font-size: 22px;
        
    }

    #check:checked ~ ul {
        left: 0;
    }
    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #cancel {
        display: block;
    }


}

/* Typed Text & Video*/ 

.text-box {
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    margin-left: 20%;
}

.text-box h1 {
    font-size: 75px;
    line-height: 160px;
    color: white ;


}

.text-box p {
    color: white;
    margin-left: 75px;
}

.text-box a {
    margin-top: 30px;
    margin-left: 15%;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #0c726d;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}

.text-box .btn {
    background: #0c726d;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}

.text-box span {
    color: #ffffff;
}



.user-img {
    width: 540px;
    position: absolute;
    right: 8%;
    bottom: 0;
}



.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 2000px;

}

